{% extends "base.html.twig" %}


{% block title %}
	Profile


{% endblock %}

{% block body %}
	<div class="containere">
		<div class="header-container">
			<div class="header">

			{% for user in users %}
				
			

	<h1 class="main-heading">
	
	{% if (user.nom) and (user.prenom) %}

		{{user.nom}} <span> </span> {{user.prenom}}

		{% else %}
			Saisir Nom et Prenom
		{% endif %}
		
	</h1>




				
				
				<div class="stats">
					<span class="stat-module">
						Commentaire
						<span class="stat-number">{{comm}}</span>
					</span>
					<span class="stat-module">
						Recettes
						<span class="stat-number">{{recette}}</span>
					</span>
					
				</div>
			</div>
			<!-- END header -->
		</div>
	{% if user.imageName  %}

<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.imageName }}" width="170px" height="170px" class="body-image"/>



{% else %}
<img src="{{asset('images/users/user.png')}}" width="170px" height="170px" alt="wech gros" class="body-image"/>

		{% endif %}
		<div class="overlay-header"></div>


		<div class="body">
		


	


			<div class="body-action-button u-flex-center">
				
				<a href="{{ path('profile.edit', { id: user.id  }) }}"><svg fill="#ffffff" height="28" viewbox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
					<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
					<path d="M0 0h24v24H0z" fill="none"/>
				</svg></a>

			</div>
	{% endfor %}



<div class="bottom row">	
<h2 class="ml">Mes recettes</h2>

	{% for item in recettes %}

	 
		<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-card" id="cl">
			<div class="card">
				<figure>
					<img src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.imageName }}" width="250px" class="img-responsive"/>
				</figure>

				<div class="card__container">
					<i class="far fa-heart fa-lg"></i>
					<h2 class="card__title">{{ item.title }}</h2>
					<p class="mb-2 text-muted">{{ item.createdAt | format_datetime() }}</p>


					<p class="card__text">{{ item.description }}</p>



					<a href="{{ path('recette.show', { id: item.id , slug : item.slug }) }}" class="btn btn-recette">Voir la
																	recette</a>
				</div>
			</div>

		</div>
	
{% endfor %}


		
		</div>
	</div>

			
	
</div>


{% endblock %}

